/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
Header Container
  ========================================
*/

.header-left{
  display: inline-block;
  position: relative;
  left: 200px;
  height: 40px;
  line-height: 40px;
}

.header-right{
  display: inline-block;
  position: relative;
  left: 800px;
}
.header-right p{
  display: inline-block;
  vertical-align: middle;
}

#cart{
width: 40px;
height: 40px;
vertical-align: middle
}

/*
  ========================================
Title Container
  ========================================
*/

.title-container{
  height: 300px;
  background-image: url(https://s3.amazonaws.com/viking_education/demos/viking_store_app/viking_ship_background_medium.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.title-container h1{
  padding-top: 55px;
  padding-left: 10px;
  font-size: 48px;
}

/*
  ========================================
Subtitle Container
  ========================================
*/

.subtitle-container{
  height: 100px;
  color: white;
  background-color: black;
}

.subtitle-container h2{
  font-size: 24px;
  text-align: center;
  line-height: 100px;
  height: 100px;
}

/*
  ========================================
Teaser Container
  ========================================
*/

.teaser-container{
  height: 50px;
  border: 1px solid gray;
}

.teaser-container p{
font-size: 16px;
text-align: center;
line-height: 50px;
height: 50px;
font-style: italic;
}

/*
  ========================================
Products Container
  ========================================
*/

.products-container{
  height: 600px;
  margin-left: 250px;
}

.product{
  margin: 10px 2px 2px 2px;
  display: inline-block;
}
.product-title{
  color: white;
  background-color: black;
  width: 200px;
  padding: 10px;
}

.product-title p{
  text-align: center;
}

.product-image{
  width:210px;
  height: 210px;
  border: 5px solid gray;
  position: relative;
  background-size: 100% 100%;
}

#silent-night{
  background-image: url(https://s3.amazonaws.com/viking_education/demos/viking_store_app/axe_silent_night_small.jpg);
}

#dainty-daisy{
  background-image: url(https://s3.amazonaws.com/viking_education/demos/viking_store_app/axe_dainty_daisy_small.jpg);
}

#double-trouble{
  background-image: url(https://s3.amazonaws.com/viking_education/demos/viking_store_app/axe_double_trouble_small.jpg)
}

#whispering-wind{
  background-image: url(https://s3.amazonaws.com/viking_education/demos/viking_store_app/axe_whispering_wind_small.jpg)
}

#cunning-cutter{
  background-image: url(https://s3.amazonaws.com/viking_education/demos/viking_store_app/axe_cunning_cutter_small.jpg)
}

#kingmaker{
  background-image: url(https://s3.amazonaws.com/viking_education/demos/viking_store_app/axe_kingmaker_small.jpg)
}

.product-price{
  position: absolute;
  top:0px;
  right:0px;
  border: 2px solid black;
  padding: 5px;
}

.product-bottom{
  background-color: black;
  width: 220px;
  height: 36px;
  position: relative;
}

.add-to-cart{
  margin: auto;
  position: absolute;
  left:0;
  right:0;
  top:5px;
  bottom:5px;
  background-color: orange;
  width: 100px;
}

.add-to-cart p{
  color: black;
  text-align: center;
}

/*
  ========================================
Nav bar
  ========================================
*/

.nav-container{
  margin-top: 20px;
position:relative;
}

.nav{
  position: absolute;
  margin: auto;
  left:0;
  right:0;
  top: 0;
  bottom:0;
  width: 400px;
}
.nav a{
  display: inline-block;
  margin-left: 15px;
}

/*
  ========================================
Footer
  ========================================
*/

.footer-container{
  height:200px;
  background-color: black;
}

.phone, .email{
  text-align: center;
  color:white;
  display: inline-block;
  height: 20px;
  line-height: 20px;
}

.footer-container .contact{
  margin-top: 80px;
  padding-top: 40px;
  color: orange;
  text-align: center;
}

.footer-image{
  display: inline-block;
  width:20px;
  height:20px;
  margin-left: 500px;
}









